@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  scroll-behavior: smooth;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0, auto;
  padding: 50px 170px 50px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #e673ba;
  transition: all 0.3s ease-in-out;
}
nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 10px;
  border-bottom: 1px solid #d8d8d875;
}
nav img {
  width: 40px;
}
.hero-container {
  text-align: center;
}
h3 {
  color: #e673ba;
}
.gradient-heading {
  font-size: 20px;
  background: linear-gradient(45deg, #e673ba, #6a97fa, #adc4f6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-heading {
  padding: 0px 100px;
  font-size: 55px;
}
.hero-btn {
  margin-top: 20px;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  padding: 15px 35px;
  background: linear-gradient(45deg, #e673ba, #6a97fa, #adc4f6);
}

footer {
  margin-top: auto;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

/* 
*******
Responsiveness
*******
*/

/* Small laptop screen */
@media (max-width: 1200px) {
  .container {
    margin: 0, auto;
    padding: 50px;
  }
}

/* Tablet Screen */
@media (max-width: 768px) {
  .container {
    margin: 0, auto;
    padding: 50px;
  }
  .hero-heading {
    padding: 0px;
    font-size: 35px;
  }
}

/* Mobile Screen */
@media (max-width: 600px) {
  /* .hero-heading {
    font-size: 35px;
  } */
}
